<header>
    <nav>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul>
            <li><a routerLink="/home" routerLinkActive="current">Startsida</a></li>
            <li><a routerLink="/calculator" routerLinkActive="current">Kalkylator</a></li>
            <li><a routerLink="/description" routerLinkActive="current">Beskrivning</a></li>
           
        </ul>
    </nav>
</header>